obj
XCTest/obj
Tests/FilterFixture/FilterFixture.bundle
Tests/FilterFixture/obj
Tests/LifecycleFixture/LifecycleFixture.bundle
Tests/LifecycleFixture/obj
Tests/AssertionFixture/AssertionFixture.bundle
Tests/AssertionFixture/obj
Tests/AsyncFixture/AsyncFixture.bundle
Tests/AsyncFixture/obj
Tests/ObjectModelFixture/ObjectModelFixture.bundle
Tests/ObjectModelFixture/obj
